<html>
	<head> 
		<title> {{ ansible_hostname }} Server </title>
	</head>
	<body>
		<h1> Servidor: {{ ansible_hostname }} </h1>
		<p> Distribucion: {{ ansible_distribution }} {{ ansible_distribution_release }} </p>
	</body>

</html>
